.ComplaintContent
{
    color: #000;
    height :175px;
    width :1065px;
    margin-left: 10px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}