.formsWrapper
{
    border-radius: 16px;
    border: 1px solid #FFF;
    background: #ffffffad;
    padding: 3%;
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.10);
    min-height: 100vh;
    width: 60%;
}


.LineUnderform
{
    border-color: #5030E5;
}

.form
{
    padding: 3%;
    margin-bottom: 15px;
}

.forms ul
{
    list-style-type: none;
    padding:0;
}

.LatestformsTitle
{
    padding-bottom: 20px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.LatestformsTitle h3
{
    padding-bottom: 0px;
    align-self: center;
    color: #0D062D;
}

.TitleForm
{
    padding-bottom: 0px;
    padding-top: 20px;
}

.apply
{
    width:auto;
    margin-block:10px;
    border-radius: 10px;
    color: white;
}

.apply h5
{
    font-weight: 600;
    text-align: center;

}

.apply:hover
{
    opacity: 0.3;
    transition: all 0.3s;
    background-color: #0D062D !important;
}

.formHeader
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ClubName
{
    position: relative;
    left:-5px;
    width:180px;
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ContentWrap
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ContentClub
{
    margin-top: 10px;

}

.FilterClub
{
    display: flex;
    width: 400px;
    justify-content:space-between
}

.FilterClub
{
    width:auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../svg/postFilter.svg");
    background-repeat: no-repeat;
    background-position-x: 89%;
    background-position-y: center;
    display: flex;
    padding-right: 65px;
    padding-left: 15px;
    padding-block:12px;
    margin-block:10px;
    border-width: 1px;
    border-radius: 6px;
    border-color:rgba(81, 48, 229, 0.436);
    background-color:rgba(106, 81, 218, 0.082);
    color: #2e167c 


}

.Filter:hover
{
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.2s;

}

.club h6
{
    border-radius: 6px;
    color:rgb(43, 20, 107);
    background-color: transparent;
    display: flex;
}

.club
{
    display: flex;
    justify-content: space-between;
    background-color: #ac9ef457;
    width:300px;
    align-items: center;
    padding: 7px;
    border-radius: 7px;
}

.club .InfoSVG:hover
{
    opacity: 0.7;
    cursor: pointer;    
}

.StudentClubDetails
{
    display: flex;
    align-items: flex-start;
    background-color: #ac9ef417;
    border-radius: 0px 0px 16px 16px;
    padding: 20px;

}

.SClogo
{
    clip-path: circle(45%);
    mix-blend-mode:luminosity

}

.SClogoWrapper
{
    width:150px;
    padding-right: 50px;

}

.SClogo img
{
    width: 100%;
}

.ClubformWrapper
{
    border-radius: 16px;
    border: 1px solid #AD9EF4;
    background: #FFF;
}

.StudentClubDetails h4
{
    font-weight: 800;
}

.SCcontent
{
    margin-top: 10px;
}

.Rating
{
    display: flex;
    margin-top: 10px;
    width:20%;
    justify-content: space-between;


}

.SCDescription
{
    width:70%;
}

.Rating h5
{
    font-weight: 600;
    padding: 10%;
    padding-left: 0%;
}

.rating1, .rating2, .rating3, .rating4, .rating5
{
    padding-right: 5px;
    cursor: pointer;
}