.Title
{
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.44px;
    text-transform: capitalize;
    background: linear-gradient(180deg, #231E3F 0%, #322958 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top:30px;
    margin-bottom:20px;
}

.PostRect
{
    position:relative;
    flex-direction: row;
    width: 1060px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #AD9EF4;
    background: #FFF;
    margin-left:5px;
    margin-bottom:10px;

}

.Content
{
    color: #000;
    height :155px;
    width :1055px;
    margin-left: 10px;
    margin-top:50px;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.CourseRect
{
    width: 400px;
    height: 27.869px;
    flex-shrink: 0;
    border-radius: 4px;
    background: rgba(83, 130, 218, 0.2);
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
}

.CourseText
{
    width: 400px;
    height: 18.175px;
    flex-shrink: 0;
    color: #0b254f;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-top:10px;
   
}



.DateRect
{
    width: 200px;
    height: 18.175px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top:0;
    right:0;
    margin-right:10px;
    margin-top:10px; 
}


.Date
{
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
