.Title
{
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
    letter-spacing: -1.44px;
    text-transform: capitalize;
    background: linear-gradient(180deg, #231E3F 0%, #322958 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.ComplaintBox
{
    width: 1093px;
    height: 300px;
    border-radius: 16px 16px 0px 0px;
    border: 1px solid #FFF;
    background: #FFF;
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.10);
    position:relative;
}

.ComplaintTitle
{
    color:  #231E3F;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
    margin-left: 20px;
}

.UpperLine
{
    width: 1080px;
    border-top: 3px solid #5030E5;
    height: 0px;
    transform: rotate(0.167deg);
    position: absolute;
    top:55px; 
}



.LowerLine
{
    width: 1080px;
    border-top: 3px solid #5030E5;
    height: 0px;
    transform: rotate(0.167deg);
    position: absolute;
    bottom:40px;
    left : 5px;
}

.CharacterCount
{
    width: 152px;
    height: 18px;
    color:  #231E3F;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    bottom:0;
    left:0;
    margin-left:50px;
    margin-bottom:30px; 
}

.SubmitButton
{
    display: flex;
    width: 153px;
    height: 38px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 4px;
    background: #5030E5;
    position: absolute;
    bottom:0;
    right:0;
    margin-right:40px;
    margin-bottom:5px; 
}

.SubmitText
{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
}

.Rating
{
    display: flex;
}
